[variables]
main_domain = "${domain}"
container_name_mysql = "db_mysql_${domain}"
container_name_facturascripts = "facturascripts_${domain}"
db_root_password = "${password}"

[config]
[[config.domains]]
serviceName = "adminer"
port = 8080
host = "${main_domain}" 

[[config.domains]]
serviceName = "facturascripts"
port = 80
host = "${main_domain}"

[config.env]
MYSQL_SECRET_PASSWORD = "${db_root_password}"
CONTAINER_NAME_FACTURASCRIPTS = "${container_name_facturascripts}"
CONTAINER_NAME_MYSQL = "${container_name_mysql}"